/** Beginning of generic page formatting **/
main {
	margin: auto;
    width: 100%;
    padding-top: 50px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}
* {box-sizing: border-box}
/** End of generic page format **/

/** Styling for Navigation **/
.header
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bolder;
    font-family:'verdana';
}
.sticky
{
    position: fixed;
    top: 0;
    width: 100%;
}
.navBar {
  list-style-type: none;
  margin: auto;
  overflow: hidden;
  background-color: #333;
  z-index: 5;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 50px;
  margin: none;
}
li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #CF4520;
}
/** End of Navigation **/
.colorContainer
{
    margin: auto;
    height: 100%;
    width: 100%;
    padding: 25px 12.5%;
}
.underline
{
    width: 100%;
    margin: auto;
    border-radius: 3px 3px 3px 3px;
    height: 9px;
}

/** Beginnning of About Page Styling!**/

.slide-container {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: flex;
  padding-bottom: 25px;
  padding-left: 12.5%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.slide-container::-webkit-scrollbar
{
  display: none;
}
.slide {
  scroll-snap-align: start;
  height: 150px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#333;
  color: rgb(238, 238, 238);
  /*white-space: nowrap;*/
}
.slide div b {
  
  display: flex;
  align-items: center;
  justify-content: left;
  background-color:#333;
  justify-content: left;
  color: rgb(238, 238, 238);
  width: 250px;
}
.slide img
{
  width: 150px;
  height: 150px;
  position: top;
  object-fit: cover;
  border-radius: 50%;
  justify-content: left;
  padding: 10px;
}