#x3dModel1
{
    opacity: 0.5;
    fill-opacity: 1.5;
}

/** Beginning of generic page formatting **/
main {
	margin: auto;
    width: 100%;
    padding-top: 50px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}
* {box-sizing: border-box}
/** End of generic page format **/

/** Styling for Navigation **/
.header
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bolder;
    font-family:'verdana';
}
.sticky
{
    position: fixed;
    top: 0;
    width: 100%;
}
.navBar {
  list-style-type: none;
  margin: auto;
  overflow: hidden;
  background-color: #333;
  z-index: 5;
}
#navigationBar li {
  float: left;
}
#navigationBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 50px;
  margin: none;
}
#navigationBar li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #CF4520;
}
/** End of Navigation **/
.colorContainer
{
    margin: auto;
    height: 100%;
    width: 100%;
    padding: 25px 12.5%;
}
.underline
{
    width: 100%;
    margin: auto;
    border-radius: 3px 3px 3px 3px;
    height: 9px;
}
.title
{
    margin: auto;
    height: auto;
    width: 100%;
    padding: 1px 12.5%;
}

/**Formatting for sideBar**/
  
  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }

  .column {
    float: left;
    padding: 0px;
  }
  
  .sideBar {
    width: 33%;
    padding-right: 10px;
  }
  
  .right {
    float: right;
    width: 67%;
    padding-left: 10px;
  }

  .evenLeft
  {
      float: left;
      width: 50%;
      padding-right: 10px;
      border-radius: 1px;
      border-color: #333;
      padding-bottom: 25px;
  }

  .evenRight
  {
      float: right;
      width: 50%;
      padding-left: 10px;
      border-radius: 1px;
      border-color: #333;
      padding-bottom: 25px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /**End of sideBar formatting**/

  /**Formatting for buttons**/

.visible {
    height:30px;
    width:30px;
}

.invisible
{
    height:30px;
    width:30px;
}

.orange
{
  background-color: #CF4520;
}

.sixSplitFirst
{
  width: 15%;
  float: left;
  padding: 3px;
}

.sixSplit
{
  float: left;
  padding: 3px;
  width: 17%;
  border-right: 1px;
}

.sixSplitLast
{
  float: left;
  width: 15%;
  padding: 3px;
}

.sliders
{
  width: 100%;
  padding: 3px;
  
}

.largeColumn
{
  width: 85%;
  height: auto;
}

.tinyColumn
{
  width: 15%;
  height: max-content;
  padding:15px; 
}

.row
{
  height: auto;
}

/** Quite a bit of styling for sliders **/

/**
A bunch of styling for the sliders
**/

input[type=range].slider {
  width: 100%;
  margin: 9.2px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  background: #c2c2c2;
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 1.6px;
  cursor: pointer;
}
input[type=range].slider::-webkit-slider-thumb {
  margin-top: -9.2px;
  width: 19px;
  height: 20px;
  background: #cf4520;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #c2c2c2;
}
input[type=range].slider::-moz-range-track {
  background: #c2c2c2;
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 1.6px;
  cursor: pointer;
}
input[type=range].slider::-moz-range-thumb {
  width: 19px;
  height: 20px;
  background: #cf4520;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 9.2px 0;
  color: transparent;
  width: 100%;
  height: 1.6px;
  cursor: pointer;
}
input[type=range].slider::-ms-fill-lower {
  background: #c2c2c2;
  border: 0;
  border-radius: 50px;
}
input[type=range].slider::-ms-fill-upper {
  background: #c2c2c2;
  border: 0;
  border-radius: 50px;
}
input[type=range].slider::-ms-thumb {
  width: 19px;
  height: 20px;
  background: #cf4520;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #c2c2c2;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #c2c2c2;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range].slider {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

/**
Remove up and down arrows in number input
**/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.login {
  float: right !important; 
}

/**
Navigation help popup style stuff
**/
.navHelp
{
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
