/** Beginning of generic page formatting **/
main {
	margin: auto;
    width: 100%;
    padding-top: 50px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}
* {box-sizing: border-box}
/** End of generic page format **/

/** Styling for Navigation **/
.header
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bolder;
    font-family:'verdana';
}
.sticky
{
    position: fixed;
    top: 0;
    width: 100%;
}
.navBar {
  list-style-type: none;
  margin: auto;
  overflow: hidden;
  background-color: #333;
  z-index: 5;
}
#navigationBar li {
  float: left;
}
#navigationBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 50px;
  margin: none;
}
#navigationBar li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #CF4520;
}


/*set border to the form*/ 
      
form { 
    border: 3px solid #f1f1f1; 
} 
/*assign full width inputs*/ 
  
input[type=text], 
input[type=password] { 
    width: 100%; 
    padding: 12px 20px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
} 
/*set a style for the buttons*/ 
  
button { 
    background-color: #630031; 
    color: white; 
    padding: 14px 20px; 
    margin: 8px 0; 
    border: none; 
    cursor: pointer; 
    width: 100%; 
} 
/* set a hover effect for the button*/ 
  
button:hover { 
    opacity: 0.8; 
} 
/*centre the display image inside the container*/ 
  
.imgcontainer { 
    text-align: center; 
    margin: 24px 0 12px 0; 
} 
/*set image properties*/ 
  
img.avatar { 
    width: 40%; 
} 
/*set padding to the container*/ 
  
.container { 
    padding: 16px; 
} 
/*set the forgot password text*/ 
  
span.psw { 
    float: right; 
    padding-top: 16px; 
} 

.button
{
    display:inline-block;
    border:solid #CF4520;
    border-radius:15px;
    border-width:2.5px;
    margin-left:1.5%;
    margin-right:1.5%;"
}

.login
{
    float: right !important; 
}

.login_button
{
    background-color: white; 
    color: #630031;
    padding: 14px 20px; 
    margin: 8px 0;
    width: 100%;
    height:auto;
    margin-bottom:15px;
    text-align:center;
    text-decoration:none;
    border: solid #630031;
    border-width:2.5px;
}