/** Beginning of generic page formatting **/
main {
	margin: auto;
    width: 100%;
    padding-top: 50px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}
* {box-sizing: border-box}
/** End of generic page format **/

/** Styling for Navigation **/
.header
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bolder;
    font-family:'verdana';
}
.sticky
{
    position: fixed;
    top: 0;
    width: 100%;
}
.navBar {
  list-style-type: none;
  margin: auto;
  overflow: hidden;
  background-color: #333;
  z-index: 5;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 50px;
  margin: none;
}
li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #CF4520;
}
/** End of Navigation **/
.roundImage
{
  height: 200px;
	width: 200px;
  border-radius: 50%;
}
.colorContainer
{
    margin: auto;
    height: 100%;
    width: 100%;
    padding: 25px 12.5%;
}
.underline
{
    width: 100%;
    margin: auto;
    border-radius: 3px 3px 3px 3px;
    height: 9px;
}
#Home {background-color: white;}

/**
Beginning of formatting for photo slideshow **************************************************
**/

* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: none;
  border: #CF4520;
}

/* Next & previous buttons */
.prev, .next {
    visibility: hidden;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgba(51, 51, 51, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  transition: 0.3s ease;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-container:hover .prev {
  visibility: visible;
  background-color: rgba(51,51,51,0.8);
  color: white; 
  transition: 0.6s ease;
}
/* On hover, add a black background color with a little bit see-through */
.slideshow-container:hover .next {
    visibility: visible;
    background-color: rgba(51,51,51,0.8);
    color: white; 
    transition: 0.6s ease;
  }
  
/* Caption text */
.text {
    visibility: hidden;
  color: rgba(255, 255, 255, 0);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  transition: 0.3s ease;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-container:hover .mySlides .text
{
    visibility: visible;
    background-color: rgba(51,51,51,0.8);
    color: white;
    transition: 0.6s ease;
}

/* Number text (1/3 etc) */
.numbertext {
    visibility: hidden;
  color: rgba(255, 255, 255, 0);
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  border-radius: 0px 0px 3px 0px;
  transition: 0.3s ease;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-container:hover .mySlides .numbertext
{
    visibility: visible;
    background-color: rgba(51,51,51,0.8);
    color: white;
    transition: 0.6s ease;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dotActive, .dot:hover {
  background-color: #717171;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}