/** Beginning of generic page formatting **/
main {
	margin: auto;
    width: 100%;
    padding-top: 50px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}
* {box-sizing: border-box}
/** End of generic page format **/

/** Styling for Navigation **/
.header
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bolder;
    font-family:'verdana';
}
.sticky
{
    position: fixed;
    top: 0;
    width: 100%;
}
.navBar {
  list-style-type: none;
  margin: auto;
  overflow: hidden;
  background-color: #333;
  z-index: 5;
}
#navigationBar li {
  float: left;
}
#navigationBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 50px;
  margin: none;
}
#navigationBar li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #CF4520;
}
/** End of Navigation **/
.colorContainer
{
    margin: auto;
    height: 100%;
    width: 100%;
    padding: 25px 12.5%;
}
.underline
{
    width: 100%;
    margin: auto;
    border-radius: 3px 3px 3px 3px;
    height: 9px;
}
.title
{
    margin: auto;
    height: auto;
    width: 100%;
    padding: 1px 12.5%;
}

.login {
  float: right !important; 
}