main {
    padding: 25px 0px;
	margin: auto;
	width: 50%;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.spacedText
{
    word-spacing:100px;
}

* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/**
Styling for Navigation
**/
.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #CF4520;
}

/**
End of Navigation
**/

/**
Page content styling
**/

.pageContent {
  margin: auto;
  color: black;
  padding: 50px 20px;
  height: 100%;
}
/**
Page content styling ends
**/

.roundImages
{
  height: 200px;
	width: 200px;
  border-radius: 50%;
}

#Home {background-color: white;}
#Launch {background-color: white;}
#Library {background-color: white;}
#Models {background-color: white;}
#Resources {background-color: white;}


